{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="centernav">
        <h1>Formation</h1>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ formation.id }}</td>
        </tr>
        <tr>
            <th>École</th>
            <td>{{ formation.school }}</td>
        </tr>
        <tr>
            <th>Diplôme</th>
            <td>{{ formation.degree }}</td>
        </tr>
        <tr>
            <th>Domaine</th>
            <td>{{ formation.fieldOfStudy }}</td>
        </tr>
        <tr>
            <th>Début</th>
            <td>{{ formation.yearOfStart }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ formation.yearOfEnd }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ formation.logo }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">Retour à la liste</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
