{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ job.poste }}</td>
            </tr>
            <tr>
                <th>Type_job</th>
                <td>{{ job.typeJob }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ job.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ job.logo }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ job.startDate ? job.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ job.endDate ? job.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_index') }}">back to list</a>

    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}
